.left-header__title{data: {id: @group.id}}
  = @group.name
.left-header__members
  .member
    %ul.member-list
      %li.member-list__member
        Member:
        - @group.users.each do |user|
          =user.name
