!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="/stylesheets/styles.scss")

  %body
    %header
      .header__title
        グループを作成しました
    %content
      .content__right
        .content__right__bottom
      .content__left
        .content__left__bottom
    %footer
